@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  src: url("assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sora";
  font-weight: 400;
  src: url("assets/font/Sora-VariableFont_wght.ttf") format("truetype");
}
